<div class="card bg-info text-center">
    <div class="card-header">
        <div class="fw-bold">Attack Type</div>
    </div>
    <ul class="list-group list-group-flush">    
      <li class="list-group-item d-grid gap-2">
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="attack" value="bomb" id="bomb_btn" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="bomb_btn">
              <div class="d-flex justify-content-between align-items-start">
                <div>
                  <i class="fa-solid fa-bomb"></i> Bomb
                </div>
              </div>
            </label>
          
            <input type="radio" class="btn-check" name="attack" value="liner" id="liner_btn" autocomplete="off">
            <label class="btn btn-outline-primary" for="liner_btn">
              <div class="d-flex justify-content-between align-items-start">
                <div>
                  <i class="fa-solid fa-xmarks-lines"></i> Liner
                </div>
                <span class="badge bg-dark rounded-pill" id='liner_count'>{{ attack_count.liner }}</span>
              </div>
            </label>
          
            <input type="radio" class="btn-check" name="attack" value="explosion" id="explosion_btn" autocomplete="off">
            <label class="btn btn-outline-primary" for="explosion_btn">
              <div class="d-flex justify-content-between align-items-start">
                <div>
                  <i class="fa-solid fa-explosion"></i> Explosion
                </div>
                <span class="badge bg-dark rounded-pill" id='explosion_count'>{{ attack_count.explosion }}</span>
              </div>
            </label>
            
            <input type="radio" class="btn-check" name="attack" value="radar" id="radar_btn" autocomplete="off">
            <label class="btn btn-outline-primary" for="radar_btn">
              <div class="d-flex justify-content-between align-items-start">
                <div>
                  <i class="fa-solid fa-satellite-dish"></i> Radar
                </div>
                <span class="badge bg-dark rounded-pill" id='radar_count'>{{ attack_count.radar }}</span>
              </div>
            </label>
        </div>
      </li>
    </ul>
</div>
<div class="card bg-info text-center mt-5">
    <div class="card-header">
        <div class="fw-bold"><i class="fa-sharp fa-solid fa-dice-d6"></i> Actions</div>
    </div>
    <ul class="list-group list-group-flush">    
      <li class="list-group-item">
        <div class="d-grid gap-2">
          <a href="{% url 'new_game' %}" id="new_game" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">New Game</a>
          <a href="{% url 'score_board' %}" id="score_board" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Score Board</a>
        </div>
      </li>
    </ul>
</div>