.select {
    color: #1fe4eb;
    background-color: #1fe4eb;
}

.target {
    color: #0cc512;
    background-color: #0cc512;
}

.empty {
    color: white;
    background-color: white;
}

.btn {
    font-size: 30px;
    padding: 15px 32px;
}