.select {
    background-color: #1fe4eb;
}

.radar-select {
    background-color: #1fe4ebbd;
}

.target {
    background-color: #0cc512;
}

.radar-target {
    background-color: #0cc512be;
}

.empty {
    background-color: white;
}

.ship {
    background-color: #fa0d0d;
}

.cell {
    padding: 37.5px 40.8px;
}

.mini-cell {
    padding: 33px 36px;
}

.message {
    font-size: 25px;
}