.select {
    background-color: #0154cf;
}

.radar-select {
    background-color: #99b0d4;
}

.target {
    background-color: #ff0000;
}

.radar-target {
    background-color: #f16161;
}

.empty {
    background-color: white;
}

.ship {
    background-color: #0bdf04;
}

.cell {
    padding: 37.5px 40.8px;
}

.mini-cell {
    padding: 33px 36px;
}

.message {
    font-size: 25px;
}