<div class="card bg-info">
    <div class="card-header text-center">
        <div class="fw-bold">Ships</div>
    </div>
    <ol class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div>
              {% include 'sea/icon.html' %}
              {% include 'sea/icon.html' %}
              {% include 'sea/icon.html' %}
              {% include 'sea/icon.html' %}
            </div>
          </div>
          <span class="badge bg-primary rounded-pill" id='4-ships'>{{ report.4_ships }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div>
              {% include 'sea/icon.html' %}
              {% include 'sea/icon.html' %}
              {% include 'sea/icon.html' %}
            </div>
          </div>
          <span class="badge bg-primary rounded-pill" id='3-ships'>{{ report.3_ships }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div>
              {% include 'sea/icon.html' %}
              {% include 'sea/icon.html' %}
            </div>
          </div>
          <span class="badge bg-primary rounded-pill" id='2-ships'>{{ report.2_ships }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div>
              {% include 'sea/icon.html' %}
            </div>
          </div>
          <span class="badge bg-primary rounded-pill" id='1-ships'>{{ report.1_ships }}</span>
        </li>
    </ol>
</div>
