{% extends 'base.html' %}

{% block content %}
    {% for row in table %}
        {% with x=forloop.counter0 %}
        
        {% for cell in row %}
            {% with y=forloop.counter0 %}
            <button class="btn 
            {% if cell == select %}
                select
            {% elif cell == target %}
                target
            {% else %}
                empty
            {% endif %}"

            id="{{x}}{{y}}"

            onclick="select({{ x }}, {{ y }})">{{ shape }}</button>
            {% endwith %}
        {% endfor %}
        
        {% endwith %}
        <br>
    {% endfor %}
    
    <p id='msg'></p>
    
    <br>

    <a href='{% url 'new_game' %}'><button class='new-game'>New Game</button></a>

    <br>
    <h2>Report</h2>
    <h3>ships</h3>
    <p>**** : <span id='4-ships'>{{ report.4_ships }}</span></p>
    <p>*** : <span id='3-ships'>{{ report.3_ships }}</span></p>
    <p>** : <span id='2-ships'>{{ report.2_ships }}</span></p>
    <p>* : <span id='1-ships'>{{ report.1_ships }}</span></p>
    
{% endblock content %}