{% extends 'base.html' %}
{% load mathfilters %}

{% block content %}
    {% for row in table %}
        {% with x=forloop.counter0 %}
        
        {% for cell in row %}
            {% with y=forloop.counter0 %}
            <button class="
            {% if cell == empty %}
                empty
            {% elif cell == target %}
                target select
            {% elif cell == select %}
                select
            {% endif %}"

            id="{{x}}{{y}}"

            onclick="select({{ x }}, {{ y }})">{{ cell }}</button>
            {% endwith %}
        {% endfor %}
        
        {% endwith %}
        <br>
    {% endfor %}
{% endblock content %}