{% extends 'base.html' %}
{% load jalali_tags %}

{% block content %}
<div class="container mt-3 p-5 bg-light text-center rounded">
    <h2><i class="fa-solid fa-clock-rotate-left"></i> Game History Board</h2>
    
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Player 1</th>
                <th></th>
                <th>Player 2</th>
                <th>Status</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr 
                {% if forloop.first %}
                    style="font-weight:bold" class="bg-warning"    
                {% endif %}
                >
                    <td>{{ game.player1 }}</td>
                    <td> - </td>
                    <td>{{ game.player2 }}</td>
                    {% if game.win %}
                        <td>Player <span class="text-success fw-bold">{{ game.win }}</span> won</td>
                    {% else %}
                        <td>Player <span class="text-danger fw-bold">{{ game.left }}</span> left game</td>
                    {% endif %}
                    <td>{{ game.time|to_jalali }}</td>
                </tr>
                {%empty%}
                    <td>_</td>
                    <td> - </td>
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}