{% extends 'base.html' %}
{% load jalali_tags %}

{% block content %}
<div class="container mt-3 p-5 bg-light text-center rounded">
    <h2><i class="fa-solid fa-ranking-star"></i> Game History Board</h2>
    
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Status</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr 
                {% if forloop.first %}
                    style="font-weight:bold" class="bg-primary"    
                {% endif %}
                >
                    <td>{{ game.player1 }}</td>
                    <td>{{ game.player2 }}</td>
                    <td>{{ game.status }}</td>
                    <td>{{ game.time|to_jalali }}</td>
                </tr>
                {%empty%}
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}