.select {
    color: #1fe4eb;
    background-color: #1fe4eb;
}

.radar-select {
    color: #1fe4ebbd;
    background-color: #1fe4ebbd;
}

.target {
    color: #0cc512;
    background-color: #0cc512;
}

.radar-target {
    color: #0cc512be;
    background-color: #0cc512be;
}

.empty {
    color: white;
    background-color: white;
}

.cell {
    font-size: 30px;
    padding: 15px 32px;
}

.message {
    font-size: 25px;
}