{% load static %}

<!doctype html>
<html>
<head>
    <title>Sea Battle</title>

    <link rel="stylesheet" href="{% static 'sea/css/game.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'sea/js/game.js' %}"></script>
    <script src="https://kit.fontawesome.com/23f7675658.js" crossorigin="anonymous"></script>   
    <style>
        body {
            
            background-image: url('{% static 'images/home.jpg' %}');
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: cover; 
        }
    </style>
</head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
