{% load static %}

<!doctype html>
<html>
<head>
    <title>Sea Battle</title>

    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
</head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
