<div class="card bg-info text-center">
    <div class="card-header">
        <div class="fw-bold">Attack Type</div>
    </div>
    <ul class="list-group list-group-flush">    
      <li class="list-group-item">
        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="attack" value="bomb" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1"> <i class="fa-solid fa-bomb"></i> Bomb</label>
          
            <input type="radio" class="btn-check" name="attack" value="liner" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2"><i class="fa-solid fa-xmarks-lines"></i> Liner</label>
          
            <input type="radio" class="btn-check" name="attack" value="explosion" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3"><i class="fa-solid fa-explosion"></i> Explosion</label>
            
            <input type="radio" class="btn-check" name="attack" value="radar" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio4"><i class="fa-solid fa-satellite-dish"></i> Radar</label>
        </div>
      </li>
    </ul>
</div>
<div class="card bg-info text-center mt-5">
    <div class="card-header">
        <div class="fw-bold"><i class="fa-sharp fa-solid fa-dice-d6"></i> Actions</div>
    </div>
    <ul class="list-group list-group-flush">    
      <li class="list-group-item">
        <div class="d-grid gap-2">
          <a href="{% url 'new_game' %}" id="new_game" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">New Game</a>
          <a href="{% url 'score_board' %}" id="score_board" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Score Board</a>
        </div>
      </li>
    </ul>
</div>