{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 p-5 bg-light text-center rounded">
    <h2>Score Board</h2>
    
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Score</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr 
                {% if score == last_score %}
                    style="font-weight:bold" class="bg-primary"    
                {% endif %}
                >
                    <td>{{ score.rank }}</td>
                    <td>{{ score.user }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.time }}</td>
                </tr>
                {%empty%}
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>

            {% endfor %}
        </tbody>
    </table>

    <div class="alert alert-primary message">
        {% if last_score %}
            <strong>{{ last_score.user }}</strong>
            Your Score  <strong>{{ last_score.score }}</strong>
            & Your Rank <strong>{{ last_score.rank }}</strong> 
            At Time <strong>{{ last_score.time }}</strong> 
        {% else %}
            Not Exist Score Yet
        {% endif %}
    </div>
</div>

{% endblock content %}