{% url 'home' as home_url %}

{% url 'score_board' as single_player_score_url %}
{% url 'single_player' as single_player_url %}

{% url 'two_player' as two_player_url %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ home_url }}"><i class="fa-solid fa-anchor"></i> Sea Battle</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        
        {% if request.path == single_player_url %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'new_game' %}">New Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == score_board_url %}active{% endif %}" href="{{ score_board_url }}" id="score_board">Score Board</a>
            </li>
        {% endif %}
        
        {% if request.path == two_player_url %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exit_game' %}">Exit Game</a>
          </li>
        {% endif %}
        

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>