{% url 'home:home' as home_url %}

{% url 'score:score_board' as score_board_url %}
{% url 'history:game_history' as game_history_url %}
{% url 'single_player:single_player' as single_player_url %}
{% url 'two_player:two_player' as two_player_url %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ home_url }}"><i class="fa-solid fa-anchor"></i> Sea Battle</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          {% if request.path == single_player_url %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'single_player:new_game' %}">New Game</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == score_board_url %}active{% endif %}" href="{{ score_board_url }}" id="score_board">Score Board</a>
              </li>
          {% endif %}
          
          {% if request.path == two_player_url %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'two_player:new_game' %}">New Game</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'two_player:exit_game' %}">Exit Game</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == game_history_url %}active{% endif %}" href="{{ game_history_url }}">Game History</a>
              </li>
          {% endif %}
          
          <li class="nav-item dropdown">
            {% if user.is_authenticated %}
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-circle-user"></i> {{ user.username }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a></li>          
              </ul>
            {% else %}
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-circle-user"></i> Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'account:login' %}">Login</a></li>
                  <li><a class="dropdown-item" href="{% url 'account:register' %}">Register</a></li>              
              </ul>
            {% endif %}
          </li>
          
        </ul>
      </div>
    </div>
</nav>