{% load static %}

<!doctype html>
<html>
<head>
    <title>
        {% block title %}Sea Battle{% endblock title %}
    </title>

    <link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>

    <link rel="stylesheet" href="{% static 'sea_battle/css/game.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">    
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% block style %}{% endblock style %}

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}{% endblock script %}

    <style>
        body {     
            background-image: url('{% static 'images/home.jpg' %}');
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: cover; 
        }
    </style>
</head>
    <body>
        {% include "includes/navbar.html" %}
        {% block content %}{% endblock content %}
    </body>
</html>
